#orders-container {
    width: 100%; /* Растянуть на всю ширину страницы */
  }

  th {
    padding: 15px; /* Задайте желаемое значение отступа, например, 10px */
}

tr {
    padding: 15px; /* Задайте желаемое значение отступа, например, 10px */
}

  
  .screen {
    display: flex;
    flex-direction: column;
    height: 982px;
    align-items: flex-start;
    gap: 25px;
    padding: 80px 100px;
    position: relative;
    background-color: #ffffff;
  }
  
  .screen .view {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .screen .text-wrapper {
    align-self: stretch;
    margin-top: -1px;
    font-family: "SF Pro Display-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-2 {
    align-self: stretch;
    opacity: 0.6;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .view-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  
  .screen .plus-outline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 15px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    background-color: #27a37b;
    border-radius: 3px 0px 0px 3px;
    overflow: hidden;
  }
  
  .screen .vector {
    position: relative;
    width: 25px;
    height: 25px;
  }
  
  .screen .frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    position: relative;
    flex: 0 0 auto;
    background-color: #2ebf91;
    border-radius: 0px 3px 3px 0px;
  }
  
  .screen .text-wrapper-3 {
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .view-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .screen .view-4 {
    display: flex;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  }
  
  .screen .text-wrapper-4 {
    flex: 1;
    margin-top: -1px;
    font-family: "SF Pro Display-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .view-5 {
    display: flex;
    align-items: flex-start;
    padding: 15px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #000000;
  }
  
  .screen .div-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
  }
  
  .screen .text-wrapper-5 {
    align-self: stretch;
    margin-top: -1px;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    position: relative;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .screen .text-wrapper-6 {
    position: relative;
    flex: 1;
    align-self: stretch;
    margin-top: -2px;
    font-family: "SF Pro Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  